<!--Practical 1 – Angular.js Introduction
Q1. To read the data & display it on the page simultaneously.
Code –-->
<!DOCTYPE html>
<html>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="">
<p>Name: <input type="text" ng-model="name"></p>
<h1>Hello, <span ng-bind="name"></span></h1>
</div>
</body>
</html>
<!--Output –
Q2. To append name in h1 tag.
Code –-->
<!DOCTYPE html>
<html>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<p>Name: <input type="text" ng-model="name"></p>
<h1>Hello, {{name}}</h1>
</div>
<script>
var app = angular.module('myApp',[]);
app.controller('myCtrl', function($scope){
$scope.name = 'sajjad shaikh'
 })
</script>
</body>
</html>
<!--Output –
Q3. To change the name displayed on the textbox.
Code –-->
<!DOCTYPE html>
<html>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<p>First Name: <input type="text" ng-model="fname"></p>
<p>Sir Name: <input type="text" ng-model="sname"></p>
<h1>Hello, {{fname}} {{sname}}</h1>
</div>
<script>
var app = angular.module('myApp',[]);
app.controller('myCtrl', function($scope){
$scope.fname = 'sajjad'
$scope.sname = 'shaikh'
 })
</script>
</body>
</html>
<!--Output –

Practical No.2
Write a program using ng-click.
Q1. To change the name displayed by the click.
Code --->
<!DOCTYPE html>
<html>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<h2 ng-click='changeName()'>Hello, {{name}} shaikh</h2>
<p>Want to see magic?? click on name see what happen!</p>
<br><br><br>
<p>Wait wait wait their is nothing like magic, this code is simply
calling 'changeName function'!</p>
<p>This example demonstrate how to use 'ng-click' to encounter click
event!</p>
</div>
<script>
var app = angular.module('myApp',[]);
app.controller('myCtrl', function($scope){
$scope.name = 'sajjad'
$scope.changeName = function() {
$scope.name = 'ayesha';
 }
 })
</script>
</body>
</html>
<!--Output –
After click
Q2. To print the uppercase, lowercase, currency.
Code –-->
<!DOCTYPE html>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app='myApp' ng-controller='myCtrl'>
<p>Brand Name - {{brand | uppercase}}</p>
<p>Product Name - {{product | lowercase}}</p>
<p>Price - {{price | currency}}</p>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
$scope.brand = "Ferrari"
$scope.product = "Spider-800"
$scope.price = "50000"
 })
</script>
</body>
</html>
<!--Output –
Practical No.3
Working with custom filters.
a. Arrays
Code –-->
<!DOCTYPE html>
<html>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<p>Type a letter in input field 👇</p>
<input type="text" ng-model="name">
<p>Suggestions => </p>
<ol>
<li ng-repeat="suggestion in names | filter:name">
 {{suggestion}}
</li>
</ol>
</div>
<script>
var app = angular.module('myApp', [])
app.controller('myCtrl', function($scope){
$scope.names = [
'Ayesha',
'Akash',
'Alice',
'Bob',
'Eve',
'Eleven',
'Dustine',
'Steve'
 ]
 })
</script>
</body>
</html>
<!--Output –
b. Sorted Arrays
Code –-->
<!DOCTYPE html>
<html>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<p>Click on the table header to sort the data 👇</p>
<table border="1" width="100%">
<tr>
<th ng-click="orderByWhat('fname')">First Name</th>
<th ng-click="orderByWhat('lname')">Last Name</th>
</tr>
<tr ng-repeat="x in names | orderBy:orderByFilter">
<td>{{x.fname}}</td>
<td>{{x.lname}}</td>
</tr>
</table>
</div>
<script>
angular.module('myApp', []).controller('myCtrl', function($scope){
$scope.names = [
 { fname:'Max', lname:'Mayfield' },
 { fname:'Steve', lname:'Harrington' },
 { fname:'Mike', lname:'Wheeler' },
 { fname:'Will', lname:'Byers' },
 { fname:'Nancy', lname:'Wheeler' },
 { fname:'Dustin', lname:'Henderson' },
 { fname:'Robin', lname:'Buckley' },
 { fname:'Jim', lname:'Hopper' },
 { fname:'Erica', lname:'Sinclair' },
 { fname:'Eddie', lname:'Munson' },
 ]
$scope.orderByWhat = function(y){
$scope.orderByFilter = y
 }
 })
</script>
</body>
</html>
<!--Output –
After click
Practical No.4
a. Using AngularJS tables.
Code –-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Angular.js template</title>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<style>
table, tr, td {
border: 1px solid grey;
border-collapse: collapse;
padding: 5px;
 }
table tr:nth-child(odd) {
background-color: rgb(248, 190, 190);
 }
</style>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<h2>Angular.js sample application</h2>
<table>
<tr>
<td>Enter first name: </td>
<td><input type="text" ng-model="student.firstName"></td>
</tr>
<tr>
<td>Enter last name: </td>
<td><input type="text" ng-model="student.lastName"></td>
</tr>
<tr>
<td>
 Name:
</td>
<td>
 {{fullName()}}
</td>
</tr>
<tr>
<td>
 Marks:
</td>
<td>
<table>
<tr>
<td>Subject Name</td>
<td>Subject Marks</td>
</tr>
<tr ng-repeat="subject in student.subjects">
<td>{{subject.name}}</td>
<td>{{subject.marks}}</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<script>
var app = angular.module('myApp', [])
 app.controller('myCtrl', function($scope){
 $scope.student = {
 firstName: "sajjad",
 lastName: "shaikh",
 subjects: [
 {name: "physics",marks:"84"},
 {name: "chemistry",marks:"72"},
 {name: "biology",marks:"70"},
 {name: "math",marks:"90"},
 {name: "computer science",marks:"95"},
 ],
 fullName: function(){
var studentObj;
 studentObj = $scope.student;
return studentObj.firstName + " " + studentObj.lastName;
 }
 };
 $scope.fullName = function(){
return $scope.student.firstName + " " + $scope.student.lastName;
 }
 });
</script>
</body>
</html>
<!--Output –
b. Exploring AngularJS services.
Code –-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<p>The url of this page is:</p>
<h3>{{myUrl}}</h3>
</div>
<p>This example uses the built-in $location service to get the absolute url
of the page.</p>
<script>
var app = angular.module('myApp', [])
 app.controller('myCtrl', function($scope, $location){
 $scope.myUrl = $location.absUrl();
 })
</script>
</body>
</html>
<!--Output –
Practical No. 5
Write a program using ng-options
a. To change one data
Code –-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<p>Select A Car 🚗</p>
<select ng-model="selectedCar" ng-options="x.model for x in cars"
style="width:200px;padding:10px"></select>
<h1>Model is: {{selectedCar.model}}</h1> <!-- {{selectedCar.model}} -->
<h3>It's color is: {{selectedCar.color}}</h3>
<p>⚠️ NOTE!!!</p>
<p>Selected values represents an object.</p>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
$scope.cars = [
{model: 'Ford Mustang', color: 'red'},
{model: 'Audi A4', color: 'blue'},
{model: 'BMW X6', color: 'white'}
];
});
</script>
</body>
</html>
<!--Output –


b. To change three data together.
Code –-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<p>Select A Car 🚗</p>
<select ng-model="selectedCar" ng-options="x for (x,y) in cars"
style="width:200px;padding:10px"></select>
<h1>You selected: {{selectedCar.brand}}</h1>
<h2>Model: {{selectedCar.model}}</h2>
<h3>Color: {{selectedCar.color}}</h3>
<p>⚠️ NOTE!!!</p>
<p>Selected values represents an object.</p>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
$scope.cars = {
car01:{brand: 'Ford', model: 'Mustang', color: 'red'},
car02:{brand: 'Audi', model: 'A4', color: 'blue'},
car03:{brand: 'BMW', model: 'X6', color: 'white'}
};
});
</script>
</body>
</html>
<!--Output –

Practical No.6
Write a program using ng-show
a. To display menu on button click
Code –-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<input type="button" value="Menu 🚀" style="padding:10px;width:150px"
ng-click="showMenu()">
<div ng-show="menu">
<ul>
<li>Home</li>
<li>About</li>
<li>Contact</li>
</ul>
</div>
<p>⚠️ NOTE!!!</p>
<p>Click on the button to show/hide menu.</p>
</div>
<script>
var app = angular.module("myApp", []);
app.controller('myCtrl', function($scope) {
$scope.menu = false;
$scope.showMenu = function() {
$scope.menu = !$scope.menu;
}
});
</script>
</body>
</html>
<!--Output –
b. Mouse over
Code –-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<h1 ng-mousemove="myFunc($event)">
Mouse over me!
</h1>
<h3>Co-ordinates are 👇</h3>
<h3>X = {{x}}</h3>
<h3>Y = {{y}}</h3>
<p>⚠️ NOTE!!!</p>
<p>Mouse over the heading to display the value of clientX & clientY from
event object.</p>
</div>
<script>
var app = angular.module("myApp", []);
app.controller('myCtrl', function($scope){
$scope.myFunc = function(event){
$scope.x = event.clientX;
$scope.y = event.clientY;
}
});
</script>
</body>
</html>
<!--Output –
Practical No.7
Write a program using ng-switch & ng-show
a. Radio button
Code –-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="">
<div>
<form>
 Click on any radio button listed below 👇 <br>
<input type="radio" ng-model="myModel" value="cars">Cars<br>
<input type="radio" ng-model="myModel" value="bikes">Bikes<br>
<input type="radio" ng-model="myModel" value="bicycles">Bicycles<br>
</form>
<div ng-switch="myModel">
<h1 ng-show="myModel" ng-switch-when="cars">Hello user, what type of
car your'e looking for?</h1>
<h1 ng-show="myModel" ng-switch-when="bikes">Hello user, what type of
bikes your'e looking for?</h1>
<h1 ng-show="myModel" ng-switch-when="bicycles">Hello user, what type
of bicycles your'e looking for?</h1>
</div>
</div>
<p>The ng-switch directive hides and shows HTML sections depending on the
value of the radio buttons.</p>
</body>
</html>
<!--Output –
b. Checkbox
Code –-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div ng-app="">
<form>
 Check to show a header 👉
<input type="checkbox" ng-model="myModel">
</form>
<h1 ng-show="myModel">Hello, User</h1>
</div>
</body>
</html>
<!--Output -
Practical No.8
Working with angularjs forms
Code –-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<style>
input.ng-invalid {
background-color:pink;
 }
input.ng-valid {
background-color:lightgreen;
 }
</style>
</head>
<body ng-app="">
<h1>Try writing in the input field 👇</h1>
<form name="myForm">
 username: <input name="myName" ng-model="myName" required><br><br>
 email: <input name="myEmail" ng-model="myEmail" type="email" required>
</form>
<h1>The input's valid state is:</h1>
<p>for username: {{myForm.myName.$valid}}</p>
<p>for email: {{myForm.myEmail.$valid}}</p>
<p>The input field requires content, and will therefore become green when you
write in it.</p>
</body>
</html>
<!--Output –

Practical No.9
Working with AngularJS animations
By making height as 0
Code –-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
<style>
.tobehide {
transition: all linear 0.5s;
background-color: yellowgreen;
height: 100px;
 }
.ng-hide {
height: 0px;
 }
</style>
</head>
<body ng-app="myApp">
<div>
<h1>let's hide the div,</h1>
 Check to hide a div 👉 <input type="checkbox" ng-model="myModel">
<div class="tobehide" ng-hide="myModel"></div>
</div>
<script>
var app = angular.module("myApp",['ngAnimate'])
</script>
</body>
</html>
<!--Output –
After click div height will become 0
By moving div at the top of visible axis
Code –-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
<style>
.tobehide {
transition: all linear 0.5s;
background-color: lightblue;
height: 100px;
width: 100%;
position: relative;
top: 0;
left: 0;
 }
.ng-hide {
top: -200px;
left: 200px;
 }
</style>
</head>
<body ng-app="myApp">
<div>
<h1>let's hide the div,</h1>
 Check to hide a div 👉 <input type="checkbox" ng-model="myModel" />
<div class="tobehide" ng-hide="myModel"></div>
</div>
<script>
var app = angular.module("myApp", ["ngAnimate"]);
</script>
</body>
</html>